# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science

- Create a code cell to convert minutes to hours

- Create a code cell to multiply and add numbers

Some of the popular languages that Data Scientists use are:

1. Julia
2. R
3. Python

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Numpy
3. TensorFlow

| Data Science Tools |
| ------------------ |
| JupyterNotebook |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
#  This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60. 

minutes = 200

hours = minutes/60

print(hours)

3.3333333333333335

## Author

Harry